.title{
  background-color: black;
  color: white;
}

.main{
  display: flex;
  flex-direction: row;
}

.card{
  background-color: brown;
  color: white;
}

.graph{
  width: 80%;
}

.filter{
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 50%, #ececec 100%);
  accent-color: #ffca1d;
}

.node-label {
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  user-select: none;
}