.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #778C86;
    color: #E7E3E3;
  }

.info{
    position: relative;
}

.left{
    width: 20px;
}

.right{
    width: 197px;
}
