.sidebar{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #778C86;
    color: #E7E3E3;
  }

  .backtohome{
    position: absolute;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    width: 198px;
    border-radius: 20px;
    color: #C3C5C5;
    background-color: #262A2D;
}